html,
body {
  padding: 0;
  margin: 0;
}

.c-blue {
  color: blue;
}

section {
  padding: 2 0rem;
  height: 100vh;
}

section.section-project{
    background-color: rgb(116, 116, 116);
}

.container {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.hero-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.hero-content .subject-title,
.hero-content .subject-desc {
  width: 50%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.max-320 {
  max-width: 320px;
}

.max-720 {
  max-width: 720px;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
